* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 504px;
    height: 100vh;
    background-color: #333;
    border-radius: 3px;
}

.dashboard {
    height: 440px;
}

/* header */
.header {
    padding: 19px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#btn-menu {
    font-size: 18px;
}

#btn-search {
    font-size: 18px;
}

#btn-menu:hover {
    cursor: pointer;
}

#btn-search:hover {
    cursor: pointer;
}

.title-playing {
    text-align: center;
}

.title-playing span{
    font-size: 14px;
    color: #ff5f93;
}

/* body - cd */
.cd {
    display: flex;
    justify-content: center;
    margin: 0 0 25px 0;
    
}

.cd img {
    width: 222px;
    height: 222px;
    border-radius: 50%;
    border: 6px solid #ee2b69;
    object-fit: cover;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.controls button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-control:hover {
    background-color: #ff5f93;
}

/* playlist, song */
.playlist {
    max-height: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: auto;
}

.song {
    width: 480px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 14px;
    background-color: #ccc;
}

.song:hover {
    cursor: pointer;
}

.thumb {
    width: 50px;
    height: 50px;
}

.thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.body-song {
    
}

.option {

}

